.parent {
    background-color: rgb(45, 11, 243);
    padding: 20px;
    width: 400px;
    height: 150px;
    position: relative;
}

.child>div {
    background-color: hsl(0, 0%, 95%);
    border: 1px solid rgb(221, 26, 26);
    padding: 10px;
    position: absolute;
}

#box {
    height: 300px;
    width: 200px;
    border: 1px solid rgb(221, 26, 26);
    background-color: yellow;
    position: fixed;
    bottom: 100px;
    right: 15px;
    display: none;

}

.help {
    height: 80px;
    width: 80px;
    border: 1px solid rgb(221, 26, 26);
    background-color: rgb(225, 32, 155);
    border-radius: 50%;
    position: fixed;
    bottom: 15px;
    right: 15px;
}

.help:hover+#box {
    display: block;
}

::selection {
    background-color: #000000;
}

#btn:hover {
    background-color: red;
}

.box2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#form{
    /* text-align: center; */
    border: 2px solid red;
    width: 200px;
    display: flex; 
    flex-direction: column;
    gap:10px;
    padding: 5px;
}
input{
    padding: 8px;
    /* margin: 20px; */
    border-radius: 50px;
    border-style: none;
    background: rgb(214, 130, 130);
}
input:focus{
    background-color: lightpink;
}